<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
      <span>
        <a mat-button routerLink="/user-dashboard">Home</a>
      </span>
      <span class="spacer"></span>
      <div style="float:right;">
        <!-- <span>
          <a mat-button routerLink="/signup">SignUp</a>
        </span> -->
        <span>
            <a mat-button routerLink="/signup">Carrerr Guidance</a>
          </span>
          <span>
              <a mat-button routerLink="/signup">Mock Interviews</a>
            </span>
          <!-- <span>
              <a mat-button routerLink="/signup">SignUp</a>
            </span> -->

        <span>
          <a mat-button routerLink="/login">Logout</a>
        </span>
      </div>
      <div style="float:right;">
        <span>
          <!-- <a mat-button>Welcome {{userName}}</a> -->
        </span>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<div style="max-width: 600px; margin: 0 auto;">
  <!-- skillset -->
  <h4 class="lab-class">Skills</h4>

  <ng-multiselect-dropdown [placeholder]="'Add your skillsets'" [(ngModel)]="userJobDetails.skillset" [data]="dropdownList"
    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
  </ng-multiselect-dropdown>

  <!-- location -->
  <h4>Location</h4>
  <mat-form-field class="example-full-width">
    <mat-label>Location</mat-label>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [(ngModel)]="userJobDetails.location" (optionSelected)="onLocationChanged($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- experience -->
  <h4>Experience</h4>
  <mat-form-field class="example-full-width">
    <mat-label>Experience</mat-label>
    <mat-select [(ngModel)]='userJobDetails.exp' (selectionChange)='onExperienceSelected($event)'>
      <mat-option *ngFor="let experience of experienceList" [value]="experience.value">
        {{experience.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- experience -->
  <h4>Notice Period</h4>
  <mat-form-field class="example-full-width">
    <mat-label>Notice Period</mat-label>
    <mat-select [(ngModel)]='userJobDetails.noticePeriod' (selectionChange)='onNoticePeriodSelected($event)'>
      <mat-option *ngFor="let notice of NoticePeriod" [value]="notice.value">
        {{notice.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form style="margin-bottom: 40px;">
    <h4>Expected Salary</h4>
    <mat-form-field class="example-full-width">
      <input name="salary" type="text"  matInput [(ngModel)]="userJobDetails.salary" placeholder="Expected Salary(lpa)">
    </mat-form-field>
  </form>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button [checked]="userJobDetails.isActivelyLookingforJob" value="true">Immediately looking for jobs</mat-radio-button>
    <mat-radio-button [checked]="!userJobDetails.isActivelyLookingforJob" value="false">Open for job opportunities</mat-radio-button>
  </mat-radio-group>
<div style="margin-top: 35px;">
    <mat-card-actions>
      <button mat-raised-button (click)="submit()" color="primary">Submit</button>
    </mat-card-actions>
    </div>
</div>