<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
      <span>
        <a mat-button routerLink="/user-dashboard">Home</a>
      </span>
      <span class="spacer"></span>
      <div style="float:right;">
        <!-- <span>
          <a mat-button routerLink="/signup">SignUp</a>
        </span> -->
        <span>
            <a mat-button routerLink="/signup">Carrerr Guidance</a>
          </span>
          <span>
              <a mat-button routerLink="/signup">Mock Interviews</a>
            </span>
          <!-- <span>
              <a mat-button routerLink="/signup">SignUp</a>
            </span> -->

        <span>
          <a mat-button routerLink="/login">Logout</a>
        </span>
      </div>
      <div style="float:right;">
        <span>
          <!-- <a mat-button>Welcome {{userName}}</a> -->
        </span>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<div style="max-width: 600px; margin: 0 auto;">
<h2 style="text-align: center">Quiz on {{userScoreDetails.skill}}</h2>
<h3 id="example-radio-group-label"><span>1. </span>{{questions[0].question}}</h3>
<mat-radio-group id="example-radio-group-label" aria-labelledby="example-radio-group-label" class="example-radio-group"
  [(ngModel)]="selectedAnswer_1">
  <mat-radio-button class="example-radio-button" *ngFor="let option of questions[0].answers;" [value]="option.answerId">
    {{option.answer}}
  </mat-radio-button>
</mat-radio-group>
<h3 id="example-radio-group-label"><span>2. </span>{{questions[1].question}}</h3>
<mat-radio-group id="example-radio-group-label_{{id}}" aria-labelledby="example-radio-group-label" class="example-radio-group"
  [(ngModel)]="selectedAnswer_2">
  <mat-radio-button class="example-radio-button" *ngFor="let option of questions[1].answers;" [value]="option.answerId">
    {{option.answer}}
  </mat-radio-button>
</mat-radio-group>
<h3 id="example-radio-group-label"><span>3. </span>{{questions[2].question}}</h3>
<mat-radio-group id="example-radio-group-label_{{id}}" aria-labelledby="example-radio-group-label" class="example-radio-group"
  [(ngModel)]="selectedAnswer_3">
  <mat-radio-button class="example-radio-button" *ngFor="let option of questions[2].answers;" [value]="option.answerId">
    {{option.answer}}
  </mat-radio-button>
</mat-radio-group>
<h3 id="example-radio-group-label"><span>4. </span>{{questions[3].question}}</h3>
<mat-radio-group id="example-radio-group-label_{{id}}" aria-labelledby="example-radio-group-label" class="example-radio-group"
  [(ngModel)]="selectedAnswer_4">
  <mat-radio-button class="example-radio-button" *ngFor="let option of questions[3].answers;" [value]="option.answerId">
    {{option.answer}}
  </mat-radio-button>
</mat-radio-group>
<h3 id="example-radio-group-label"><span>5. </span>{{questions[4].question}}</h3>
<mat-radio-group id="example-radio-group-label_{{id}}" aria-labelledby="example-radio-group-label" class="example-radio-group"
  [(ngModel)]="selectedAnswer_5">
  <mat-radio-button class="example-radio-button" *ngFor="let option of questions[4].answers;" [value]="option.answerId">
    {{option.answer}}
  </mat-radio-button>
</mat-radio-group>

<mat-card-actions>
    <button mat-raised-button (click)="submit()" color="primary">Submit</button>
  </mat-card-actions>
</div>
