/* .example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.know-class {
  text-align: center;
}

.sub-class {
  color: black;
}

.example-card {
  width: 50%;
  height: 50%;
}

.btn-class {
text-align: center;
}

.mat-class {
  padding-left: 50px;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */
