<p>
  user-dashboard works!
</p>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/pic2.png" alt="Photo of a Shiba Inu">

          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <h3>Be on spot light</h3> -->
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="know-class">Know Where You Stand</mat-card-title>
          <mat-card-subtitle class="sub-class">Participate in the exam and be on HR rader </mat-card-subtitle>
        </mat-card-header>
     <h3> </h3><br>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
